/*
 * @File Name: variables.styl
 * @Description: 主题样式变量设置
 * @Author: yogwang
 * @Date: 2020-02-21 10:48:01
 * @Last Modified by: yogwang
 * @Last Modified time: 2020-02-24 09:23:57
 */
$primary-color = #7851FD
$global-font-size = 15px
$header-size = 46px